In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("01_ADS_Sample_2.csv")
df.head(2)

,year,ISO_code,region,ef_score,ef_government,ef_legal,ef_money,ef_trade,ef_regulation
0,2017,ALB,Eastern Europe,7.67,7.5,5.1,9.6,8.3,7.8
1,2017,DZA,Middle East & North Africa,4.77,3.6,4.7,7.3,2.8,5.4

In [3]:
df_cnt = df["region"].value_counts(normalize = True).reset_index()
df_cnt

                           index    region
0             Sub-Saharan Africa  0.259259
1  Latin America & the Caribbean  0.160494
2                 Eastern Europe  0.135802
3     Middle East & North Africa  0.117284
4                 Western Europe  0.111111
5                     South Asia  0.104938
6                      East Asia  0.037037
7        Caucasus & Central Asia  0.037037
8                        Oceania  0.024691
9                  North America  0.012346

In [4]:
df_cnt["region"] = (df_cnt["region"] * 100).astype("int")
df_cnt

                           index  region
0             Sub-Saharan Africa      25
1  Latin America & the Caribbean      16
2                 Eastern Europe      13
3     Middle East & North Africa      11
4                 Western Europe      11
5                     South Asia      10
6                      East Asia       3
7        Caucasus & Central Asia       3
8                        Oceania       2
9                  North America       1

In [5]:
df.isna().sum()

year             0
ISO_code         0
region           0
ef_score         3
ef_government    3
ef_legal         3
ef_money         3
ef_trade         3
ef_regulation    3
dtype: int64

In [6]:
df_q5 = df.copy()

In [7]:
df_q5 = df.dropna()
print(len(df))
print(len(df_q5))

486
483

In [8]:
from sklearn.linear_model import LinearRegression

In [9]:
X_cols = df_q5.columns[4:9]
model = LinearRegression().fit(X = df_q5.loc[df_q5["year"] == 2015, X_cols],
                               y = df_q5.loc[df_q5["year"] == 2015, "ef_score"])

In [10]:
ser_coef = pd.Series(model.coef_, index = X_cols)
ser_coef.reset_index()

           index         0
0  ef_government  0.201087
1       ef_legal  0.199525
2       ef_money  0.198701
3       ef_trade  0.202214
4  ef_regulation  0.199520

In [11]:
round(ser_coef.max(), 3)

0.202

In [12]:
pred = model.predict(df_q5.loc[df_q5["year"] == 2016, X_cols])
pred[:5]

array([7.66165663, 5.03220049, 5.40190643, 5.40216625, 7.66095857])

In [13]:
round(sum(abs(df_q5.loc[df_q5["year"] == 2016, "ef_score"] - pred)), 3)

1.702