# 다음 문제를 풀이하시오.

### Q1. "bike_rental.csv"와 "bike_weather.csv"를 pandas 모듈을 활용하여 불러오고 객체 종류를 확인하시오.
(불러온 파일을 각각 rental, weather 객체에 저장하시오.)

In [1]:
import pandas as pd

In [2]:
rental = pd.read_csv("bike_rental.csv")
weather = pd.read_csv("bike_weather.csv")

In [3]:
rental.head(2)

              datetime  casual  registered  count
0  2011-01-01 00:00:00       3          13     16
1  2011-01-01 01:00:00       8          32     40

In [4]:
weather.head(2)

,date,hour,season,holiday,workingday,weather,temp,atemp,humidity,windspeed
0,2011-01-01,0,1,0,0,1,9.84,14.395,81,0.0
1,2011-01-01,1,1,0,0,1,9.02,13.635,80,0.0

### Q2. casual 변수와 registered 변수의 합이 count변수의 합과 같다는 것을 증명하시오.

In [5]:
(rental["casual"] + rental["registered"] == rental["count"]).sum()
sum((rental["casual"] + rental["registered"] == rental["count"]))

10886

### Q3. weather 객체에 rental 객체를 column 기준으로 concat() 함수를 활용하여 병합하시오.
(데이터를 병합하여 df_con 객체에 저장하시오.)

In [6]:
df_con = pd.concat([weather, rental], axis = 1)
df_con.head(2)

,date,hour,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,datetime,casual,registered,count
0,2011-01-01,0,1,0,0,1,9.84,14.395,81,0.0,2011-01-01 00:00:00,3,13,16
1,2011-01-01,1,1,0,0,1,9.02,13.635,80,0.0,2011-01-01 01:00:00,8,32,40

### Q4. df_con 객체의 변수별 결측치 개수를 확인하시오.

In [7]:
df_con.isna().sum().reset_index()

         index  0
0         date  0
1         hour  0
2       season  0
3      holiday  0
4   workingday  0
5      weather  0
6         temp  0
7        atemp  0
8     humidity  0
9    windspeed  0
10    datetime  0
11      casual  0
12  registered  0
13       count  0

### Q5. pandas.DataFrame의 join() 을 활용하여 weather과 rental 데이터를 병합하시오.
(병합한 데이터는 df_join에 저장하시오)
 * pandas.to_timedelta() 를 활용하시오
 * pandas.Series.astype() 를 활용하시오
 
※ 힌트: 일 데이터에 to_timedelta() 함수로 변환된 시간 증분을 더하여 두 객체의 시간 형식을 맞추시오

In [8]:
weather.head(1)

,date,hour,season,holiday,workingday,weather,temp,atemp,humidity,windspeed
0,2011-01-01,0,1,0,0,1,9.84,14.395,81,0.0

In [9]:
rental.head(1)

              datetime  casual  registered  count
0  2011-01-01 00:00:00       3          13     16

In [10]:
pd.to_timedelta([1, 2, 3], unit = "h")

TimedeltaIndex(['0 days 01:00:00', '0 days 02:00:00', '0 days 03:00:00'], dtype='timedelta64[ns]', freq=None)

In [11]:
# pd.Series(["2011-01-01", "2011-01-01", "2011-01-01"]) + pd.to_timedelta([1, 2, 3], unit = "h")
pd.to_datetime(pd.Series(["2011-01-01", "2011-01-01"])) + pd.to_timedelta([1, 2],
                                                                          unit = "h")

0   2011-01-01 01:00:00
1   2011-01-01 02:00:00
dtype: datetime64[ns]

In [12]:
weather["datetime"] = pd.to_datetime(weather["date"]) + pd.to_timedelta(weather["hour"],
                                                                        unit = "h")
weather.head(2)

,date,hour,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,datetime
0,2011-01-01,0,1,0,0,1,9.84,14.395,81,0.0,2011-01-01 00:00:00
1,2011-01-01,1,1,0,0,1,9.02,13.635,80,0.0,2011-01-01 01:00:00

In [13]:
weather = weather.set_index("datetime")
weather.head(2)

,date,hour,season,holiday,workingday,weather,temp,atemp,humidity,windspeed
datetime,,,,,,,,,,
2011-01-01 00:00:00,2011-01-01,0,1,0,0,1,9.84,14.395,81,0.0
2011-01-01 01:00:00,2011-01-01,1,1,0,0,1,9.02,13.635,80,0.0

ValueError: You are trying to merge on <b style="color:#FF0000"> object and datetime64[ns] </b> columns. If you wish to proceed you should use pd.concat

상기 에러메세지는 문자와 시간을 key로 join을 할 때 발생하는 에러로, 두 데이터의 형식을 통일시켜주어야 한다.

In [14]:
rental = rental.set_index("datetime")
rental.index = pd.to_datetime(rental.index) # 실행하지 않으면 error 발생
rental.head(2)

                     casual  registered  count
datetime
2011-01-01 00:00:00       3          13     16
2011-01-01 01:00:00       8          32     40

In [15]:
df_join = rental.join(weather, on = "datetime")
df_join.head(2)

ValueError: You are trying to merge on object and datetime64[ns] columns. If you wish to proceed you should use pd.concat

### Q6. df_join의 변수별 결측치를 확인하시오.

In [ ]:
df_join.isna().sum().reset_index()