# 다음 문제를 풀이하시오 ~ 10:12

In [1]:
import pandas as pd
pd.__version__

'1.2.2'

### Q1. 비어있는 데이터프레임 df_0을 생성하시오.

In [3]:
df_0 = pd.DataFrame()
df_0

Empty DataFrame
Columns: []
Index: []

### Q2. 딕셔너리를 활용하여 변수가 2개, 원소가 6개인 데이터프레임 df1를 생성하시오.
※ 변수명과 원소 값은 직접 임의로 지정

In [ ]:
df1 = pd.DataFrame({"aa": [1, 2, 3],
                    "bb": [5, 6, 7]})
df1

### Q3. NumPy의 array 생성 방법을 활용하여 변수가 2개, 원소가 6개인 데이터프레임 df2를 생성하시오.
※ 변수명과 원소 값은 직접 임의로 지정

In [5]:
import numpy as np

In [10]:
df2 = pd.DataFrame([[1, 2], [4, 5], [8, 9]],
                   columns = ["xx", "yy"])
df2 = pd.DataFrame([[1, 2], 
                    [4, 5],
                    [8, 9]],
                   columns = ["xx", "yy"])
df2 = pd.DataFrame(np.arange(6).reshape(3, 2),
                   columns = ["xx", "yy"])

In [12]:
df2

   xx  yy
0   0   1
1   2   3
2   4   5