# 다음 문제를 풀이하시오 ~ 10:23

In [2]:
import pandas as pd
pd.__version__

'1.2.2'

In [3]:
df = pd.DataFrame([[1, 2], [3, 4], [5, 6]],
                  columns = ["aa", "bb"])

### Q1. 앞에서 생성한 df 객체를 출력하시오.

In [4]:
df

   aa  bb
0   1   2
1   3   4
2   5   6

### Q2. df 객체의 row 개수를 출력하시오

In [5]:
len(df)

3

In [6]:
df.shape[0]

3

### Q3. df 객체의 column 개수를 출력하시오.

In [8]:
df.shape[1]
len(df.columns)

2

### Q4. df 객체의 변수명을 출력하시오.

In [9]:
df.columns

Index(['aa', 'bb'], dtype='object')

### Q5. df 객체의 첫 번째 변수에 있는 모든 원소를 출력하시오.

In [12]:
df.iloc[:, 0]
df["aa"]
df.loc[:, "aa"]

0    1
1    3
2    5
Name: aa, dtype: int64

### Q6. df 객체의 첫 번째 row를 출력하시오.

In [13]:
df.iloc[0, ]

aa    1
bb    2
Name: 0, dtype: int64

In [15]:
df.loc[0, ]

aa    1
bb    2
Name: 0, dtype: int64

In [17]:
df.iloc[:2, ]

   aa  bb
0   1   2
1   3   4

In [18]:
df.loc[:2, ]

   aa  bb
0   1   2
1   3   4
2   5   6

In [21]:
df.ndim

2

In [20]:
df.shape # 출력 결과는 tuple

(3, 2)

In [ ]:
# shape attribute 로 출력되는 값 중 첫 번째는 row 개수, 두 번째는 column 개수

In [23]:
import numpy as np
arr = np.array([[[1, 2], [3, 4]], [[5, 6], [7, 8]]])
arr

array([[[1, 2],
        [3, 4]],

       [[5, 6],
        [7, 8]]])

In [24]:
arr.ndim

3

In [25]:
arr.shape

(2, 2, 2)