# 다음 문제를 풀이하시오.

### Q1. pandas 모듈을 pd로 불러오시오.

In [1]:
import pandas as pd

### Q2. "rating_chocobar.csv"를 pandas 모듈을 활용하여 불러오고 객체 종류를 확인하시오
(단, df 객체에 저장하시오)

In [2]:
df = pd.read_csv("rating_chocobar.csv")

### Q3. df의 첫 3개 row를 출력하시오

In [ ]:
df.head(3)

### Q4. df의 마지막 2개 row를 출력하시오

In [ ]:
df.tail92

### Q5. df의 차원을 확인하시오

In [ ]:
df.ndim

### Q6. df의 row 개수를 확인하시오

In [ ]:
len(df)

### Q7. df의 column 개수를 확인하시오

In [ ]:
df.shape[1]

### Q8. df의 column 이름을 확인하시오

In [3]:
df.columns

Index(['Company_Maker_if_known', 'Specific_Bean_Origin_or_Bar_Name', 'REF',
       'Review_Date', 'Cocoa_Percent', 'Company_Location', 'Rating',
       'Bean_Type', 'Broad_Bean_Origin'],
      dtype='object')

### Q9. df의 첫 번째 변수 명을 "aa"로 변경하시오

In [4]:
# df = df.rename(columns = {"Company_Maker_if_known": "aa"})
df = df.rename(columns = {df.columns[0]: "aa"})
df.head(2)

,aa,Specific_Bean_Origin_or_Bar_Name,REF,Review_Date,Cocoa_Percent,Company_Location,Rating,Bean_Type,Broad_Bean_Origin
0,A. Morin,Agua Grande,1876,2016,63%,France,3.75,NaN,Sao Tome
1,A. Morin,Kpime,1676,2015,70%,France,2.75,NaN,Togo

### Q10. df의 첫 번째, 네 번째, 열 번째 row를 추출하여 df_sub1 객체에 저장하시오

In [5]:
df_sub1 = df.iloc[[0, 3, 9], ]
df_sub1

,aa,Specific_Bean_Origin_or_Bar_Name,REF,Review_Date,Cocoa_Percent,Company_Location,Rating,Bean_Type,Broad_Bean_Origin
1,A. Morin,Kpime,1676,2015,70%,France,2.75,NaN,Togo
3,A. Morin,Akata,1680,2015,70%,France,3.50,NaN,Togo
9,A. Morin,Pablino,1319,2014,70%,France,4.00,NaN,Peru

### Q11. df의 index 번호가 짝수인 것만 추출하여 df_sub2 객체에 저장하시오

In [9]:
range(2, df.shape[0], 2)

range(2, 1795, 2)

In [8]:
df_sub2 = df.iloc[range(2, df.shape[0], 2), ]
df_sub2.head(3)

,aa,Specific_Bean_Origin_or_Bar_Name,REF,Review_Date,Cocoa_Percent,Company_Location,Rating,Bean_Type,Broad_Bean_Origin
2,A. Morin,Atsane,1676,2015,70%,France,3.0,NaN,Togo
4,A. Morin,Quilla,1704,2015,70%,France,3.5,NaN,Peru
6,A. Morin,Cuba,1315,2014,70%,France,3.5,NaN,Cuba

In [10]:
import numpy as np
df_sub2 = df.iloc[np.arange(2, df.shape[0], 2), ]
df_sub2.head(3)

,aa,Specific_Bean_Origin_or_Bar_Name,REF,Review_Date,Cocoa_Percent,Company_Location,Rating,Bean_Type,Broad_Bean_Origin
2,A. Morin,Atsane,1676,2015,70%,France,3.0,NaN,Togo
4,A. Morin,Quilla,1704,2015,70%,France,3.5,NaN,Peru
6,A. Morin,Cuba,1315,2014,70%,France,3.5,NaN,Cuba