# 다음 문제를 풀이하시오.

### Q1. diabetes.csv 파일을 pandas 라이브러리 함수를 활용하여 읽어오고 해당 내용을 df 객체에 저장하시오.
※ 다음 문항부터 df 객체를 기준으로 풀이하시오.

In [1]:
import pandas as pd
df = pd.read_csv("diabetes.csv")
df.head(2)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0

### Q2. Pregnancies는 임신 경험 횟수라고 한다. 이 때 임신 경험이 없는 사람의 BMI와 그렇지 않은 사람의 BMI 평균을 산출하고 두 값을 서로 뺀 절대값을 확인하시오.
※ 단, BMI가 0인 데이터는 제외하고 연산하시오. <br>
※ 결과값은 반올림하여 소수점 첫 째 자리 까지 기술하시오.

In [2]:
df["is_preg"] = (df["Pregnancies"] > 0) + 0 # 임신 경험 여부 변수 생성시 사용

In [3]:
df.loc[df["Pregnancies"] == 0, "BMI"].mean()

34.29009009009011

In [12]:
# df_sub = df.loc[df["BMI"] > 0, ]
df_sub = df.loc[df["BMI"] != 0, ]

In [10]:
# round(abs("!?!?!??"), 1)

In [13]:
round(abs(df_sub.loc[df_sub["Pregnancies"] == 0, "BMI"].mean() - 
          df_sub.loc[df_sub["Pregnancies"] != 0, "BMI"].mean()), 1)

3.2

### Q3. Pregnancies와 Outcome변수를 제외한 변수의 값이 0인 것은 기록이 누락된것이라고 한다. 각 변수별로 기록이 누락된 데이터 개수를 정리하시오.

In [ ]:
df_q3 = df.loc[:, "Glucose":"Age"].copy()
df_q3.head(1)

In [ ]:
for col in df_q3.columns:
    print(sum(df_q3[col] == 0))

In [ ]:
for col in df_q3.columns:
    print(col + ": ", sum(df_q3[col] == 0))

In [ ]:
# df.isin([0]).iloc[:, 1:-1].sum()
# df.iloc[:, 1:-1].isin([0]).sum() # 모든 원소를 검사(0과 같은지)하고 변수별로 합계 산출
df_q3.isin([0]).sum()

In [22]:
df_q3.apply(lambda x: sum(x == 0)).reset_index()

                      index    0
0                   Glucose    5
1             BloodPressure   35
2             SkinThickness  227
3                   Insulin  374
4                       BMI   11
5  DiabetesPedigreeFunction    0
6                       Age    0

In [23]:
pd.Series([True, False, True]).sum() # True: 1, False: 0, True의 개수를 센 것이 됨.

2

In [ ]:
pd.Series([0, 12, 0, 45]) == 0

In [ ]:
pd.Series([0, 12, 0, 45]).isin([0])

In [27]:
ser = pd.Series([0, 12, 0, 45])
ser[ser != 0].sum()

57

In [28]:
import numpy as np
df.drop(columns = ["Pregnancies", "Outcome"]).replace(0, np.nan).isnull().sum()

Glucose                       5
BloodPressure                35
SkinThickness               227
Insulin                     374
BMI                          11
DiabetesPedigreeFunction      0
Age                           0
is_preg                     111
dtype: int64

### Q4. 기록이 하나라도 누락된 사람의 데이터는 제거하고 이를 df2 객체에 저장하시오. 이 때 총 몇 명의 데이터가 제거되었는가?
※ 누락된 기록의 정의는 3번 문항을 참고하시오. <br>
※ 다음 문항부터 df2 객체를 기준으로 풀이하시오.

In [29]:
df_q4 = df.copy()
df_q4.head(1)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome,is_preg
0,6,148,72,35,0,33.6,0.627,50,1,1

In [ ]:
df_q4.loc[:, "Glucose":"Age"] = df_q4.loc[:, "Glucose":"Age"].replace(0, np.nan)
df_q4.isin([0]).sum()

In [ ]:
df_q4.isna().sum()

In [33]:
df2 = df_q4.dropna()

In [34]:
print(len(df_q4))
print(len(df2))

768
392

### Q5. Age 변수를 활용하여 나이를 10살 단위로 나눈 연령대 변수 Age_g 를 생성하고 해당 변수를 기준으로 BMI의 평균을 구했을 때 가장 높은 BMI의 평균을 기록한 연령대는?
※ 변환 규칙 예시: 30 --> 3, 39 --> 3, 24 --> 2 <br>
※ 정답 예시: 3

In [37]:
int(12.73)

12

In [48]:
ser = pd.Series([12, 46, 30])
# ser.agg(lambda x: str(round(x / 10)) + "0대")
ser.agg(lambda x: str(int(x / 10)) + "0대")
(ser / 10).astype(int)
ser.apply(lambda x: int(str(x)[0]))
ser // 10 # 10으로 나눈 몫

0    1
1    4
2    3
dtype: int64

In [53]:
df_q5 = df2.copy()

In [54]:
df_q5["Age_g"] = df_q5["Age"] // 10

In [55]:
df_q5.groupby("Age_g")["BMI"].mean()
df_q5.groupby("Age_g")["BMI"].mean().idxmax()

4

### Q6. 당뇨 또는 비만과 관계있는 변수를 모아서 그 상관관계를 확인하고자 한다. Glucose, SkinThickness, Insulin, BMI, DiabetesPedigreeFunction 변수간 Pearson 상관계수를 확인하고 그 값이 가장 높은 두 변수와 상관계수를 차례대로 기술하시오.
※ 상관계수는 반올림하여 소수점 둘 째 자리 까지 기술하시오. <br>
※ 정답 예시: A, B, 0.12

In [56]:
df_q6 = df2.copy()
df_q6.head(2)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome,is_preg
3,1,89.0,66.0,23.0,94.0,28.1,0.167,21,0,1
4,0,137.0,40.0,35.0,168.0,43.1,2.288,33,1,0

In [57]:
df_q6.iloc[0, [1, 3, 4, 5, 6]] # Series

Glucose                     89.000
SkinThickness               23.000
Insulin                     94.000
BMI                         28.100
DiabetesPedigreeFunction     0.167
Name: 3, dtype: float64

In [58]:
df_q6.iloc[[0], [1, 3, 4, 5, 6]] # DataFrame

   Glucose  SkinThickness  Insulin   BMI  DiabetesPedigreeFunction
3     89.0           23.0     94.0  28.1                     0.167

In [60]:
df_q6.iloc[:, [1, 3, 4, 5, 6]].corr().round(3)

,Glucose,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction
Glucose,1.000,0.199,0.581,0.210,0.140
SkinThickness,0.199,1.000,0.182,0.664,0.160
Insulin,0.581,0.182,1.000,0.226,0.136
BMI,0.210,0.664,0.226,1.000,0.159
DiabetesPedigreeFunction,0.140,0.160,0.136,0.159,1.000

In [70]:
df_q6_corr = df_q6.iloc[:, [1, 3, 4, 5, 6]].corr()
df_q6_corr.apply(lambda x: x[x != 1]).max().reset_index().sort_values(0,
                                                                      ascending = False).head(2)

           index         0
1  SkinThickness  0.664355
3            BMI  0.664355

In [73]:
df_q6_corr.reset_index().melt(id_vars = "index")

                       index                  variable     value
0                    Glucose                   Glucose  1.000000
1              SkinThickness                   Glucose  0.198856
2                    Insulin                   Glucose  0.581223
3                        BMI                   Glucose  0.209516
4   DiabetesPedigreeFunction                   Glucose  0.140180
5                    Glucose             SkinThickness  0.198856
6              SkinThickness             SkinThickness  1.000000
7                    Insulin             SkinThickness  0.182199
8                        BMI             SkinThickness  0.664355
9   DiabetesPedigreeFunction             SkinThickness  0.160499
10                   Glucose                   Insulin  0.581223
11             SkinThickness                   Insulin  0.182199
12                   Insulin                   Insulin  1.000000
13                       BMI                   Insulin  0.226397
14  DiabetesPedigreeFunction                   Insulin  0.135906
15                   Glucose                       BMI  0.209516
16             SkinThickness                       BMI  0.664355
17                   Insulin                       BMI  0.226397
18                       BMI                       BMI  1.000000
19  DiabetesPedigreeFunction                       BMI  0.158771
20                   Glucose  DiabetesPedigreeFunction  0.140180
21             SkinThickness  DiabetesPedigreeFunction  0.160499
22                   Insulin  DiabetesPedigreeFunction  0.135906
23                       BMI  DiabetesPedigreeFunction  0.158771
24  DiabetesPedigreeFunction  DiabetesPedigreeFunction  1.000000