In [1]:
import pandas as pd
import numpy as np

In [ ]:
df = pd.read_csv("bike.csv")
df.head(1)

In [ ]:
df_samp1 = df.sample(n = 2)
df_samp1

In [ ]:
np.random.seed(123)
df_samp2 = df.sample(n = 2)
df_samp2

In [ ]:
df_samp3 = df.sample(n = 2, random_state = 123)
df_samp3

In [ ]:
df_samp4 = df.sample(n = 2, random_state = 999)
df_samp4

In [ ]:
from scipy.stats import pearsonr

In [ ]:
df = pd.read_csv("iris_xlsx.csv")
df.head(2)

In [ ]:
pearsonr(df["Sepal.Length"], df["Sepal.Width"])

(상관계수, p-value)

In [ ]:
df.corr()

In [ ]:
df.corr(method = "pearson")

In [ ]:
df.corr().round(2)

In [ ]:
df.corr()

In [ ]:
from scipy.stats import pearsonr # pearson 상관분석
from scipy.stats import kendalltau # kendall 상관분석
from scipy.stats import spearmanr # spearman 상관분석

In [ ]:
df = pd.read_csv("bike.csv")

In [ ]:
df_1 = df.head()
df_2 = df.tail()

In [ ]:
df_bind = pd.concat([df_1, df_2])
df_bind.shape

In [ ]:
pd.concat([df_1, df_2], axis = 1)

In [ ]:
pd.concat([df_1, df_2.reset_index(drop = True)], axis = 1)

In [ ]:
pd.concat([df_1, df_2])
pd.concat([df_1, df_2.reset_index(drop = True)]) # row index 중복!! 위험!
pd.concat([df_1, df_2]).reset_index(drop = True) # 권장

In [ ]:
df_bind = df_bind.reset_index(drop = True)
df_bind

In [ ]:
# df_list = pd.read_csv("join_list.csv")
df_list = pd.read_csv("join_list.csv", encoding = "CP949") # 또는 UTF-8
df_list.head(2)

In [ ]:
df_room = pd.read_csv("join_room.csv", encoding = "CP949")
df_room.head(2)

In [ ]:
df_list.join(df_room, how = "left")

In [ ]:
df_room2 = df_room.sample(n = 9, random_state = 123).reset_index(drop = True)
df_room2.head(2)

In [ ]:
df_list.join(df_room2, how = "left")

In [ ]:
dia = pd.read_csv("diamonds.csv")
dia.head(2)

In [ ]:
df = pd.read_csv("bike.csv")
df.head(2)

In [ ]:
ser = pd.Series([2, 4, 6, 8])
ser

In [ ]:
ser > 5

In [ ]:
# np.where(ser > 5, 1, 0)
# (ser > 5).astype("int")
# (ser > 5) + 0
(ser > 5) * 1

In [ ]:
df_dum1 = pd.get_dummies(df.iloc[:, 1:])
df_dum1.head(1)

In [ ]:
df_dum2 = pd.get_dummies(df.iloc[:, 1:], columns = ["season"])
df_dum2.head(1)

In [ ]:
df_dum2.loc[1322:1323, ]

In [ ]:
df_dum3 = pd.get_dummies(df.iloc[:, 1:], columns = ["season"],
                         drop_first = True)
df_dum3.head(1)

In [ ]:
dia.head(2)

In [ ]:
dia_dum = pd.get_dummies(dia)
dia_dum.head(2)

In [ ]:
dia_dum2 = pd.get_dummies(dia, columns = ["cut"])
dia_dum2.head(2)

In [ ]:
df.head(1)

season별 count의 ㅁㅁ연산을 수행

count 데이터를 season별로 분할하여 agg() 안의 규칙을 적용 한 것. <br>
※ 규칙: 평균을 반올림하여 정수로 표기

In [ ]:
df.groupby("season")["count"].agg(lambda x: round(x.mean()))

In [ ]:
df.groupby("season")["count"].agg("mean")

In [ ]:
df["season"].unique()

In [ ]:
df["season"].value_counts() # 각 원소의 등장 빈도.

In [ ]:
pd.crosstab(df["season"], df["holiday"]) # 두 변수의 각 원소별 조합 등장 빈도

In [ ]:
dia["cut"].value_counts()

In [ ]:
dia["cut"].value_counts().reset_index()

In [ ]:
dia["cut"].value_counts(normalize = True)

In [ ]:
dia["cut"].value_counts(normalize = True).reset_index()

In [ ]:
dia["cut"].value_counts(normalize = True).reset_index().round(2)

In [ ]:
pd.crosstab(dia["cut"], dia["color"])

In [ ]:
pd.crosstab(dia["cut"], dia["color"], normalize = True)

In [ ]:
pd.crosstab(dia["cut"], dia["color"], normalize = 0)

해석 예시: 세공수준 Fair인 다이아몬드의 경우 색상등급이 F인 것의 비율은 약 19.4%임

In [ ]:
pd.crosstab(dia["cut"], dia["color"], normalize = 1)

해석 예시: 색상등급이 D인 다이아몬드의 경우 세공수준이 Ideal인 것의 비율은 약 41.8%임

In [ ]:
# dia.groupby(["cut", "color"])["price"].mean()
dia.groupby(["cut", "color"])["price"].mean().reset_index().head()

In [ ]:
dia.groupby(["cut", "color"])["price"].agg("mean")

In [ ]:
df.head(1)

In [ ]:
# df.groupby("season")["casual", "registered"].mean() # FutureWarning
df.groupby("season")[["casual", "registered"]].mean()

In [ ]:
elec = pd.read_csv("elec_load.csv")
elec.head(2)

In [ ]:
elec_melt = elec.melt(id_vars = ["YEAR", "MONTH", "DAY"])
elec_melt.head()

.pivot() 은 .melt() 와 짝이 되는 메서드

In [ ]:
elec_melt.shape

In [ ]:
elec_pivot1 = elec_melt.pivot(index = ["YEAR", "MONTH", "DAY"], 
                              columns = "variable", 
                              values = "value").reset_index()
elec_pivot1.head(2)

.pivot_table() 은 .pivot()에 요약 연산기능을 추가한 것.

In [ ]:
elec_pivot2 = elec_melt.pivot_table(index = "YEAR", 
                                    columns = "variable", 
                                    values = "value",
                                    aggfunc = "mean").reset_index()
elec_pivot2.head(2)

In [ ]:
elec_melt.groupby(["YEAR", "variable"])["value"].mean().reset_index().head()

In [2]:
pd.to_datetime([1, 2, 3], unit = "D",
               origin = "1960-01-01")

DatetimeIndex(['1960-01-02', '1960-01-03', '1960-01-04'], dtype='datetime64[ns]', freq=None)

In [4]:
pd.to_datetime([40000, 41000, 42000], unit = "D",
               origin = "1960-01-01")

DatetimeIndex(['2069-07-07', '2072-04-02', '2074-12-28'], dtype='datetime64[ns]', freq=None)

In [5]:
pd.to_datetime(["2021년 4월 28일", "2021년 4월 29일"], format = "%Y년 %m월 %d일")

DatetimeIndex(['2021-04-28', '2021-04-29'], dtype='datetime64[ns]', freq=None)

* %Y: 4자리 년도
* %m: 두 자리 월
* %d: 두 자리 일
* %H: 두 자리 시간
* %M: 두 자리 분

In [11]:
df = pd.read_csv("bike.csv")
df.head(2)

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count
0,2011-01-01 00:00:00,1,0,0,1,9.84,14.395,81,0.0,3,13,16
1,2011-01-01 01:00:00,1,0,0,1,9.02,13.635,80,0.0,8,32,40

In [14]:
df["datetime"] = pd.to_datetime(df["datetime"]) # 문자를 날짜 형식으로 변환
# df.info()

In [15]:
df["YEAR"] = df["datetime"].dt.year
df.head(2)

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count,YEAR
0,2011-01-01 00:00:00,1,0,0,1,9.84,14.395,81,0.0,3,13,16,2011
1,2011-01-01 01:00:00,1,0,0,1,9.02,13.635,80,0.0,8,32,40,2011

In [16]:
df.ndim
df.shape
df["datetime"].dtype

dtype('<M8[ns]')